{% extends 'base.html.twig' %}

{% block title %}YONE OTP{% endblock %}

{% block body %}
    <body>
    <main>
        <div class="container-fluid place-to-footer"
             style="background-color: white; overflow: hidden; display: flex; justify-content: center;box-shadow: 10px 5px 15px black; border-radius: 15px; align-items: center; width: 50vw; margin: 20vh auto ">
            <div id="fond" class="row">
                <div class="col-md-12  flex-column p-3">
                    <h1 class="text-center text-danger "><b>ERREUR 404</b></h1>
                    <a href="/">Retourner à la page d'accueil</a>
                </div>
            </div>
        </div>
    </main>
    </body>
{% endblock %}
